.nav-btn {
  margin: 10px !important;
  width: 150px;
}

.nav-btn a {
  text-decoration: none;
  color: white;
}

.nav-btn-forward {
  background-color: green !important;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 25px;
}
